/* standardize the base document */
* {
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

/* class to center content on screen */
.centerToPage {
    margin: 0 auto;
    width: 15%;
}

/* center buttons in calculator itself */
.centerInCalculator {
    margin: 0 auto;
    width: 70%;
}

/* General html tag styling */
button {
    padding: 10px 15px;
    margin: 5px;
    border-radius: 50%;
}

p {
    text-align: right;
    font-size: xx-large;
    padding-right: 15px;
    color: aliceblue;
}

#calculator {
    padding: 15px;
    background-color: rgb(40, 39, 39);
}