/* set up base values for the webpage */
* {
    padding: 0;
    margin: 0;
}

img {
    width: 125px;
    height: 125px;
}

h2 {
    padding-left: 35%;
    padding-bottom: 10px;
    font-family: cursive;
}

/* center content to the page */
.center {
    margin: 0 auto;
    width: 70%;
}

/* the navbar at the top of the page */
#nav {
    background-color: black;
    color: white;
    border: 2px solid black;
    font-family: Roboto;
    height: 5%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 20px;
}

/* container for all the central content of the page */
#content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#main {
    width: 70%;
}

#sidebar {
    width: 15%;
    height: 50%;
    align-items: center;
}

/* the content cards for the main part of the page */
.card {
    display: flex;
    flex-direction: column;
    height: auto;
    border: 2px solid black;
    padding: 20px;
    margin-bottom: 20px;
    font-family: cursive;
}

.top-row {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.top-row p {
    text-align: right;
    padding-right: 15px;
}

.like-group {
    display: flex;
    align-items: center;
}

.btn {
    height: 50px;
    width: 200px;
    padding: 10px 30px;
    font-family: Roboto;
    font-size: large;
    background-color: goldenrod;
    border: 3px solid black;
    box-shadow: 3px 3px 2px 1px black;
}

.btn:hover {
    font-weight: bold;
    box-shadow:none;
}

.btn:active {
    font-weight: normal;
    background-color: gold;
}

.bottom-row {
    padding: 50px 0 25px 0;
    justify-content: center;
}

#sidebar .card {
    width: 60%;
    height:275px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#sidebar a {
    height: 75px;
    line-height: 75px;
}

#sidebar h3 {
    height: 50px;
    line-height: 50px;
}
